<@sys_config>
<#assign title="用户中心 - ${sys_website_name!!}">
<#include "../header.html"/>
<#if Session["SESSION_USER"]??>
    <div class="fly-home fly-panel">
        <img src="${Session['SESSION_USER'].userAvatar!!}" alt="${Session['SESSION_USER'].username!!}"
             onerror="javascript:this.src='${request.contextPath}/res/images/avatar/default.png'">
        <h1>
            ${Session['SESSION_USER'].username!!}
            <i class="iconfont icon-nan"></i>
            <i class="layui-badge fly-badge-vip">VIP10</i>
        </h1>

        <p class="fly-home-info">
            <i class="iconfont icon-shijian"></i><span>${Session['SESSION_USER'].registerTime!!} 加入</span>
        </p>
    </div>
</#if>
<#include "../footer.html"/>
</@sys_config>