<#include "/header.html"/>
<div class='site-contentpbt' id='contentpbt'>
    <form id="js_search" action="${request.contextPath}/" method="post">
        <div class='content-areapbt' id='primarypbt'>
            <div class='site-mainpbt' id='mainpbt' role='main'>
                <div class='mainblogsec section'>
                    <div class='widget' data-version='1'>
                        <div class='blog-posts hfeed'>
                            <#list pages.content ! as p>
                                <div class="date-outer">
                                    <h2 class='date-header'>
                                        <span>${p.publishDate?string("yyyy-MM-dd HH:mm:ss")}</span>
                                    </h2>
                                    <div class="date-posts">
                                        <div class='post-outer'>
                                            <article class='post hentry'>
                                                <header class='entry-header'>
                                                    <h1 class='post-title entry-title' itemprop='name'>
                                                        <a href='${request.contextPath}/?p=${p.postId?c}'>${p.postTitle!!}</a>
                                                    </h1>
                                                    <div class="entry-metapbt">
                                                        <span class="post-author vcard">
                                                            <i class="fa fa-user"></i>&nbsp;
                                                            <span class="fn" itemprop="author">
                                                                <a class="g-profile" href="${request.contextPath}/?uid=${p.userId?c}" rel="author" title="作者信息">
                                                                    <span itemprop="name">${p.postAuthor!!}</span>
                                                                </a>
                                                            </span>&nbsp;&nbsp;&nbsp;

                                                            <i class="fa fa-calendar"></i>&nbsp;
                                                            <span class="timestamp-link" href="#" rel="bookmark">
                                                                <span class="published updated" itemprop="datePublished" title="2014-04-20T18:03:00-07:00">
                                                                    ${p.publishDate?string("yyyy-MM-dd HH:mm:ss")}
                                                                </span>
                                                            </span>&nbsp;&nbsp;&nbsp;

                                                            <i class="fa fa-folder-o"></i>&nbsp;
                                                            <a href="${request.contextPath}/?cat=${p.categoryId!!}" rel="tag">${p.categoryName!!}</a>&nbsp;&nbsp;&nbsp;

                                                            <i class="fa fa-comments"></i>&nbsp;
                                                            <a href="${request.contextPath}/?cat=${p.categoryId!!}#js_add_comments_form" onclick="">${p.commentCount!!} comments</a>&nbsp;&nbsp;&nbsp;

                                                            <i class="fa fa-eye"></i>&nbsp;${p.postClicks!!}
                                                        </span>
                                                    </div>
                                                </header>
                                                <div class='post-header-line-1'></div>
                                                <div class='post-body entry-content'>
                                                    <div id='summary'>
                                                        <div class="separator" style="clear: both;"><@sys_post_html_substring content=p.postContent!! maxLen=600></@sys_post_html_substring></div>
                                                    </div>
                                                    <div style='clear: both;'></div>
                                                    <div class='pbtsharethisbutt'>
                                                        <ul class='pbt-social-icons'>
<!--                                                            <li class='Share-this-arti'>分享:&nbsp;&nbsp;</li>-->
<!--                                                            <li class="pbtfacebook">-->
<!--                                                                <a href="http://www.facebook.com/share.php?v=4&src=bm&u=http://xxx&t=${p.postTitle!!}" rel="nofollow" target="_blank" title="Share this on Facebook"><i class="fa fa-facebook-square"></i>&nbsp;Facebook</a>-->
<!--                                                            </li>-->
                                                        </ul>
                                                    </div>
                                                    <div style='clear: both;'></div>
                                                </div>
                                                <footer class='entry-footerpbt'>
                                                    <div class='readMoreLinkpbt'>
                                                        <a href='${request.contextPath}/?p=${p.postId?c}'>Read More<i class='fa spaceLeft fa-angle-double-right'></i></a>
                                                    </div>
                                                </footer>
                                            </article>
                                            <div style='clear: both;'></div>
                                        </div>
                                    </div>
                                </div>
                            </#list>
                        </div>
                        <div style='clear: both;'></div>
                        <div class='blog-pager' id='blog-pager'>
                            <#include "/page_info.html"/>
                        </div>
                        <div class='clear'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='widget-areapbt' id='secondarypbt' role='complementary'>
            <div class='widget widget_search'>
                <div class='search-formpbt'>
                    <label>
                        <span class='screen-reader-text'>Search for:</span>
                        <input class='search-fieldpbt' name='keyword' placeholder='Search' title='搜索' type='search' value=''/>
                    </label>
                    <input class='search-submitpbt' type='submit' value='Search'/>
                </div>
            </div>

            <div class='sidebarrightsec section'>
                <div class='widget Label' data-version='1' id='Label1'>
                    <h2>最新评论</h2>
                    <div class='widget-content list-label-widget-content'>
                        <ul>
                            <@sys_comments>
                                <#if comments??>
                                    <#list comments.content!! as c>
                                        <li><a dir='ltr' href='${request.contextPath}/?p=${c.commentPostId!?c}#comment-${c.commentId!?c}'><@sys_post_html_substring content="${c.commentContent!!}" maxLen="100" /></a></li>
                                    </#list>
                                </#if>
                            </@sys_comments>
                        </ul>
                        <div class='clear'></div>
                    </div>
                </div>
            </div>

            <div class='sidebarrightsec section'>
                <div class='widget Label' data-version='1'>
                    <h2>文章分类</h2>
                    <div class='widget-content list-label-widget-content'>
                        <ul>
                            <@sys_posts_category pid=0>
                                <#list categories ! as c>
                                    <li>
                                        <a dir='ltr' href='${request.contextPath}/?cat=${c.categoryId?c}'>${c.categoryName!!}</a>
                                    </li>
                                </#list>
                            </@sys_posts_category>
                        </ul>
                        <div class='clear'></div>
                    </div>
                </div>
            </div>

            <div class='sidebarrightsec section' id='sidebarrightsec'>
                <div class='widget Label' data-version='1'>
                    <h2>友情链接</h2>
                    <div class='widget-content list-label-widget-content'>
                        <ul>
                            <@sys_links>
                                <#list links ! as link>
                                    <li>
                                        <a dir='ltr' href='${link.linkUrl!!}' >${link.linkName!!}</a>
                                    </li>
                                </#list>
                            </@sys_links>
                        </ul>
                        <div class='clear'></div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="uid" value="" />
    </form>
</div>
<#include "/footer.html"/>