<@sys_config>
<#assign title="${sys_website_name!!}">
<#include "header.html"/>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="fly-panel" style="margin-bottom: 0;">
                <div class="fly-panel-title fly-filter">
                    <a href="" class="layui-this">综合</a>
                    <span class="fly-mid"></span>
                    <a href="">未结</a>
                    <span class="fly-mid"></span>
                    <a href="">已结</a>
                    <span class="fly-mid"></span>
                    <a href="">精华</a>
                    <span class="fly-filter-right layui-hide-xs">
                    <a href="" class="layui-this">按最新</a>
                    <span class="fly-mid"></span><a href="">按热议</a></span>
                </div>

                <ul class="fly-list">
                    <#list articleList ! as a>
                        <li>
                            <a href="user/home.html" class="fly-avatar">
                                <img src="${a.sysUser.userAvatar!!}"
                                     onerror="javascript:this.src='${request.contextPath}/res/images/avatar/default.png'">
                            </a>
                            <h2>
                                <a href="${request.contextPath}/getArticle.do?articleId=${a.id?c}">${a.title!!}</a>
                            </h2>
                            <div class="fly-list-info">
                                <a href="${request.contextPath}/getUserById.do?id=${a.sysUser.id!!}" link>
                                    <cite>${a.sysUser.username!!}</cite>
                                    <!--
                                    <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                                    <i class="layui-badge fly-badge-vip">VIP3</i>
                                    -->
                                </a>
                                <span>${a.publishDate!!}</span>
                                <span class="fly-list-nums">
                                    <i class="iconfont icon-liulanyanjing" title="点击数"></i> ${a.clickCount!!}
                                </span>
                            </div>
                            <div class="fly-list-badge">
                                <!--<span class="layui-badge layui-bg-red">精帖</span>-->
                            </div>
                        </li>
                    </#list>
                </ul>
                <div style="text-align: center">
                    <div class="laypage-main">
                        <a href="jie/index.html" class="laypage-next">更多求解</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="layui-col-md4">
            <#if Session["SESSION_USER"]??>
                <div class="fly-panel fly-signin">
                    <div class="fly-panel-title">
                        签到
                        <i class="fly-mid"></i>
                        <a href="javascript:;" class="fly-link" id="LAY_signinHelp">说明</a>
                        <i class="fly-mid"></i>
                        <a href="javascript:;" class="fly-link" id="LAY_signinTop">活跃榜<span class="layui-badge-dot"></span></a>
                        <span class="fly-signin-days">已连续签到<cite>999</cite>天</span>
                    </div>
                    <div class="fly-panel-main fly-signin-main">
<!--                        <button class="layui-btn layui-btn-danger" id="LAY_signin">今日签到</button>-->
                        <button class="layui-btn layui-btn-disabled">今日已签到</button>
                    </div>
                </div>
            </#if>

            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
<!--                <dd>-->
<!--                    <a href="jie/detail.html">Ttile</a>-->
<!--                    <span><i class="iconfont icon-pinglun1"></i> 16</span>-->
<!--                </dd>-->

                <!-- 无数据时 -->
                <div class="fly-none">没有相关数据</div>
            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    保家卫国，爱国爱党！
                </div>
                <div class="fly-panel-main">
                    <img src="${request.contextPath}/res/images/1588655983383.jpg"/>
                </div>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                <dl class="fly-panel-main">
                    <dd><a href="http://www.javaweb.org/" target="_blank">javaweb</a><dd>
                </dl>
            </div>

        </div>
    </div>
</div>
<#include "footer.html"/>
</@sys_config>